{% extends "base.html" %}

{% block content %}

<div class="container-fluid h-100 pt-5">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-lg-6 d-none d-lg-block">
          <div class="page-header">
          <h1 id="forms">Car Share IOT</h1>
          <img src="{{ url_for('static', filename='img/hero.svg') }}" class="img-fluid hero-img" alt="hero">
          </div>
      </div>
      <div class="col-lg-6 mx-auto register-form shadow">
          <div class="bs-component">
          <fieldset>
              <legend><a href="{{ url_for('users.login') }}">Login</a> / <b>Register</b></legend>
              <hr class="my-4">
              {% from "forms/macros.html" import render_field, render_checkbox %}
              <form method="POST" action="." class="form">
                  {{ form.csrf_token }}
                  <div class="form-group">
                    <p class="text-danger">{{ get_flashed_messages()[-1] }}</p>
                  </div>     
                  <div class="row">
                      <div class="col-lg-6">
                        {{ render_field(form.first_name, class="form-control") }}
                      </div>
                      <div class="col-lg-6">
                        {{ render_field(form.last_name, class="form-control") }}
                      </div>
                  </div>            
                  {{ render_field(form.username, class="form-control") }}
                  {{ render_field(form.email, class="form-control") }}
                  {{ render_field(form.password, class="form-control") }}
                  {{ render_field(form.confirm, class="form-control") }}
                  {{ render_checkbox(form.accept_tos, class="custom-control-input") }}
                  <button type="submit" class="btn btn-primary btn-block shadow">Register</button>
              </form>
          </fieldset>
      </div>
      </div>
  </div>
</div>

{% endblock %}