{% extends "base.html" %}
{% block content %}
<div class="form-group justify-content-between">
  <h1 class="d-inline">Cars</h1> 
  <a href="{{ url_for('users.admin_cars_create') }}" target="_blank" type="button" class="btn btn-secondary float-right">Add new car</a>
</div>
<div class="form-group">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text">Search:</span>
    </div>
    <input type="text" class="form-control" id="search-text" aria-label="Enter your query here..." placeholder="Enter your query here...">
  </div>
</div>
<table class="table table-hover" style="width:100%">
  <thead>
    <tr class="table-secondary">
      <th>ID</th>
      <th>Make</th>
      <th>Color</th>
      <th>Body Type</th>
      <th>Seats</th>
      <th>Cost Per Hour</th>
      <th>Available</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody id="search-table">
    {% for car in cars %}
        <tr id="row{{ car.id }}">
            <td>{{ car.id }}</td>
            <td>{{ car.make }}</td>
            <td>{{ car.color }}</td>
            <td>{{ car.body_type }}</td>
            <td>{{ car.seats }}</td>
            <td>{{ car.cost_per_hour }}</td>
            <td>{{ "yes" if car.available else "no" }}</td>
            <td>
              <a href="{{ url_for('users.admin_cars_edit', car_id=car.id) }}" target="_blank" class="btn btn-sm btn-info" title="Edit">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </a>
              <button onclick='delete_car({{ car.id }})' type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#delete-modal" title="Delete">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              {% if not car.fixing %}
              <button onclick='report_car({{ car.id }})' type="button" class="btn btn-sm btn-warning" data-toggle="modal" data-target="#report-modal"  title="Report">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
              </button>
              {% endif %}
            </td>
          </tr>
    {% endfor %}
  </tbody>
  </table>


  <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete car with ID: <strong id="delete-item">10</strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-danger" id="delete-btn">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="report-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to report car with ID: <strong id="report-item">10</strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-warning" id="report-btn">Report</button>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
{% block script %}
{{ super() }}
<script src="{{ url_for('static', filename='js/admin/table-search.js') }}" type="text/javascript"></script>
<script>
  function delete_car(car_id) {
    $('#delete-item').text(car_id);
  }

  function report_car(car_id) {
    $('#report-item').text(car_id);
  }

  $(document).ready(function(){
      $("#delete-btn").click(function(){    
          car_id = $('#delete-item').text();
          $.ajax({
              url: '{{ url_for("users.admin_cars_delete") }}',
              data: {
                  car_id: car_id,
              },
              type: 'POST',
              beforeSend: function() {
                $('#row' + car_id).addClass('table-danger');
              },
              success: function(res) {
                  $('#delete-modal').modal('hide');
                  $('#row' + car_id).fadeOut();
                  $('#row' + car_id).remove();
              },
              error: function(error) {
                  $('#delete-modal').modal('hide');
                  $('#row' + car_id).removeClass('table-danger');
              }
          })
      });
      $("#report-btn").click(function(){    
          car_id = $('#report-item').text();
          $.ajax({
              url: '{{ url_for("users.admin_cars_report") }}',
              data: {
                  car_id: car_id,
              },
              type: 'POST',
              success: function(res) {
                  $('#report-modal').modal('hide');
                  $('#row' + car_id).addClass('table-warning');
              },
              error: function(error) {
                  $('#report-modal').modal('hide');
              }
          })
      });
  });
  </script>
{% endblock %}